@font-face {
  font-family: 'Gochi Hand';
  src: url('/assets/fonts/GochiHand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.gochi-hand {
  font-family: 'Gochi Hand', cursive;
}
